
.navbar {
	margin-bottom: 0;
}

.jumbotron{
	color:white;
	background-color: white;
	padding: 20px 0; 
	height: 70%;
	width: 100%;
}


.img{
	
	

}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/blue.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.imag{
	float: left;
}

.marcoMateriales{
	border:solid 1px;
    padding: 10px;
    margin:0 auto;
    height: 100%;
    width: 100%;
    border-color: blue;
    background-color: #E8E2E2;
      border-radius: 0.5rem;

}
.marcoCompras{
	border:solid 1px;
    padding: 10px;
    margin:0 auto;
    height: 100%;
    width: 80%;
    border-color: blue;
    background-color: #E8E2E2;
      border-radius: 0.5rem;

}

.tituloCompras
{

font-family: "Times New Roman", Times, serif;
	color: white;
	background-color: #3D3C3C;
	width: 50%;
	border-color: blue;
	  border-radius: 0.5rem;


}

.tituloMateriales
{

	font-family: "Times New Roman", Times, serif;
	color: white;
	background-color: #3D3C3C;
	width: 50%;
	height: 50%;
	border-color: blue;
	  border-radius: 0.5rem;

}

