<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>  METALURGICA Mxli </title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fonts.css">

	<link rel="stylesheet" href="img">
	
</head>
<body>
<div class="jumbotron">


	<center><img src="img/met.png" height="150px" width="150px"></center>
</div>
<!-- MENU -------------------------------------------------------------------------------------------------------->
<div class="site-wrap">
    <div th:replace="fragments.html :: menu"></div>
</div>





<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	
</body>
</html>