<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Proyecto Desarrollo </title>
          <link rel="stylesheet" type="text/css" href="static/css/estilo.css" th:href="@{/css/estilo.css}">
            <link rel="stylesheet" type="text/css" href="static/css/baner.css" th:href="@{/css/baner.css}">
              <link rel="stylesheet" type="text/css" href="static/css/fonts.css" th:href="@{/css/fonts.css}">
	</head>
<body>    
    <div class="portada">
   					 <div class="imagen"> <img src="img/reciclaje.png" />
</div>
    
<body>
     <div class="banner"> 
   	 </div>
    	<div class="cabecera">
      
			<nav> <!-- Aqui estamos iniciando la nueva etiqueta nav -->
				<ul class="nav">
					<li><a href=""><span class="icon-home3"></span> Inicio</a></li>
					<li><a href=""><span class="icon-cart"></span> Compras</a>
						<ul>
							<li><a href="realizar">Realizar Compra</a></li>
							<li><a href="consultar">Consultar Compra</a></li>
							<li><a href="eliminar">Eliminar Compra</a></li>
						</ul>
					</li>
					<li><a href=""><span class="icon-sale"></span> Ventas</a>
						<ul>
							 <li><a href="">Realizar Venta</a></li>
   						   <li><a href="">Consultar Venta</a></li>
     				      <li><a href="">Eliminar Ventas</a></li>
						</ul>
					</li>
					<li><a href=""><span class="icon-spell-check"></span> Inventario</a>
                    	<ul>
							<li><a href="">Consultar Inventario</a></li>
						</ul>
					</li>	
                     <li><a href=""><span class="icon-automobile"></span> Proveedor</a>
						<ul>
							 <li><a href="">Registrar Proveedor</a></li>
   						   <li><a href="">Consultar Proveedores</a></li>
     				      <li><a href="">Modificar Proveedores</a></li>
                          <li><a href=""> Eliminar Proveedores</a></li>			
						</ul>
					</li>
				</ul>
			</nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
		</div>
        </div>
        <div class="texto">
        <p>
         <p>
        </div>
        <div class="logo" >
        	  <img src="metalurgica.jpg"  />
        </div>    
	</body>
</html>